//! **************************************************************************
// Written by: Map I.34 on Wed Dec 07 15:05:19 2011
//! **************************************************************************

SCHEMATIC START;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "AN<0>" LOCATE = SITE "F15" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "C18" LEVEL 1;
COMP "SBCD<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "H17" LEVEL 1;
COMP "SBCD<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "F17" LEVEL 1;
COMP "SBCD<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "SBCD<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "SBCD<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "SBCD<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "SBCD<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "A" LOCATE = SITE "H18" LEVEL 1;
COMP "B" LOCATE = SITE "G18" LEVEL 1;
COMP "H" LOCATE = SITE "K18" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "RESET" LOCATE = SITE "H13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
